[run]
branch = True
omit =
    githubcontrib/tests/*
    githubcontrib/migrations/*
    /tmp/*
    /usr/*
    /opt/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError

ignore_errors = True
show_missing = True

omit =
    githubcontrib/tests/*
    githubcontrib/migrations/*
    /tmp/*
    /usr/*
    /opt/*
