[run]
branch = True
omit =
    src/githubcontrib/tests/*
    src/githubcontrib/migrations/*
    src/githubcontrib_project/wsgi.py
    src/manage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError

ignore_errors = True
show_missing = True

omit =
    src/githubcontrib/tests/*
    src/githubcontrib/migrations/*
    src/githubcontrib_project/wsgi.py
    src/manage.py
