[flake8]
exclude = ghcontrib/migrations/*,.git
max-line-length = 119
max-complexity = 10
statistics = True
# Disable E121,E124,E128 (indentation) because it is handled by pylint
# Disable E402 (imports) because it is handled by isort
ignore = E121,E124,E128,E402
