__pycache__
.tox
*.pyc

# OS X meta data
._*
.DS_Store

.coverage
.idea
.vscode
node_modules
.cache
.pytest_cache/
yarn-error.log
package-lock.json
src/githubcontrib/static/js/
src/githubcontrib/static/font/
src/githubcontrib/static/*.css
venv
env.sh
/static
/media
db_env_prod.sh
