__pycache__
.tox
*.pyc

._*
.DS_Store
.coverage
.idea
env
.cache
local_settings.py
db.sqlite3
githubcontrib/static/js/*
githubcontrib/static/css/*
githubcontrib/static/font/*
.pytest_cache/
node_modules
yarn-error.log
