# Django
# As of 16.5.19 we can't install versions 2.2.1 or 2.1.8 because django-google-analytics-app does not support it
Django==2.2.13
django-braces==1.13.0
django-simple-menu==1.2.1
social-auth-app-django==3.1.0
django-rosetta==0.9.3
django-tqdm==0.0.3
django-modeladmin-reorder==0.3.1

# django-google-analytics-app==4.1.0
# Open PR - https://github.com/praekelt/django-google-analytics/pull/38 - Django 2 support
-e git+https://github.com/desecho/django-google-analytics.git@django2#egg=django-google-analytics

requests==2.22.0
python-dateutil==2.8.0
mysqlclient==1.4.2.post1
raven==6.10.0
PyGithub==1.43.7
