<!DOCTYPE html>
<html>
  <head>
    {% include 'includes/google_analytics.html' %}
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    >
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link href="{% static 'vendor.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}GitHubContrib{% endblock %}</title>
  </head>
  <body>
    <div>
      {% include 'includes/menu.html' %}
      <div id="app" class="container-fluid mt-3">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="container-fluid py-3">
      <a href="{% url 'about' %}">{% translate 'About GitHubContrib' %}</a><br>
      © 2017-{% now 'Y' %} <a href="mailto:{{ ADMIN_EMAIL }}">{{ ADMIN_EMAIL }}</a>. All rights reserved.
    </footer>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/vendor.js' %}"></script>
    <script>
      'use strict';
      window.vars = {};
      window.urls = {};
    </script>
    {% block js %}{% endblock %}
  </body>
