{% extends 'base.html' %}

{% block content %}
  <a href="{{ selected_user.github_profile_url }}" target="_blank">
    <img class="avatar" src="{{ selected_user.avatar }}" width="100" height="100" alt="{% trans 'Avatar' %}"/>
  </a>
  <h3>
    {{ selected_user.username }}
    <a href="{{ selected_user.github_profile_url }}" target="_blank"><i class="fa fa-github"></i></a>
  </h3>
  <br>
  {% for repo in repos %}
    <div class="repo">{{ repo }}</div>
    <ul>
      {% for commit in repo.commits.all %}
        <li class="ml-5">
        {{ commit.message }} [{{ commit.date|date:"j F Y" }}]
        <a href="{{ commit.url }}" target="_blank">
          <i class="fa fa-external-link-square" aria-hidden="true"></i>
        </a>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
