{% extends 'base.html' %}

{% block content %}
  <a href="{{ selected_user.github_profile_url }}" target="_blank">
    <img class="avatar" src="{{ selected_user.avatar }}" width="100" height="100" alt="{% trans 'Avatar' %}"/>
  </a>
  <h3>
    {{ selected_user.username }}
    <a href="{{ selected_user.github_profile_url }}" target="_blank"><font-awesome-icon icon="fa-brands fa-github" /></a>
    <span><font-awesome-icon icon="fa-solid fa-star" /></span>
    {{ selected_user.stars }}
  </h3>
  <br>
  {% for repo in repos %}
    {% if repo.commits.all.count > 0 %}
      <div class="repo">{{ repo }}</div>
      <ul>
        {% for commit in repo.commits.all %}
          <li class="ml-5">
            {{ commit.message }} [{{ commit.date|date:"j F Y" }}]
            <a href="{{ commit.url }}" target="_blank">
              <font-awesome-icon icon="fa-solid fa-external-link-square" />
            </a>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/emptyApp.js' %}"></script>
{% endblock %}
