{% extends 'base.html' %}

{% block content %}
  <div>
    {% translate 'Add a repository you contributed to. Then you can load/update commits from the added repositories.' %}<br><br>
    <form @submit.prevent="addRepo">
      <input required v-model="name" type="text" pattern=".+/.+" title="user/project"
        class="form-control form-control col-sm-5 col-md-4"
        placeholder="user/project">
      <br>
      <button type="submit" class="btn btn-primary form-control col-sm-5 col-md-4">{% translate 'Add' %}</button>
    </form>
    <br>
    <button class="btn btn-primary form-control col-sm-5 col-md-4"
      @click="loadCommitData">{% translate 'Load/Update commits' %}</button>
    <br><br>
    <div v-cloak>
      <div v-for="repo in repos">[[ repo.name ]]
        <a href="javascript:void(0)" @click="deleteRepo(repo.id)">
          <font-awesome-icon icon="fa-solid fa-trash" />
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';
    urls.repo = '{% url 'repo' %}';
    urls.loadCommitData = '{% url 'load_commit_data' %}';
    vars.repos = JSON.parse('{{ repos|safe }}');
  </script>
  <script src="{% static 'js/myRepos.js' %}"></script>
{% endblock %}
