{% extends 'base.html' %}

{% block content %}
  <div>
    <form @submit.prevent="addRepo">
      <input required v-model="name" type="text" pattern=".+/.+" title="user/project"
             class="form-control form-control col-sm-5 col-md-4"
             placeholder="user/project">
      <br>
      <button type="submit" class="btn btn-primary form-control col-sm-5 col-md-4">{% trans 'Add' %}</button>
    </form>
    <br>
    <button class="btn btn-primary form-control col-sm-5 col-md-4"
            @click="loadCommitData">{% trans 'Load / Update commits' %}</button>
    <br><br>
    <div v-cloak>
      <div v-for="repo in repos">[[ repo.name ]] <a href="javascript:void(0)"
                                                    @click="deleteRepo(repo.id)"><i
        class="fa fa-trash"></i></a></div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.repo = '{% url 'repo' %}';
    urls.loadCommitData = '{% url 'load_commit_data' %}';
    vars.repos = JSON.parse('{{ repos|safe }}');
  </script>
  <script src="{% static 'js/myRepos.js' %}"></script>
{% endblock %}
