{% extends 'base.html' %}

{% block content %}
  <div>
    <p>
      {% blocktranslate %}
        Add a repository you contributed to. Then you can load/update commits from the added repositories.
      {% endblocktranslate %}
    </p>
    <form @submit.prevent="addRepo">
      <input
        type="text"
        class="form-control form-control col-sm-5 col-md-4"
        required
        pattern=".+/.+"
        placeholder="user/project"
        title="user/project"
        v-model="name"
      >
      <br>
      <button type="submit" class="btn btn-primary form-control col-sm-5 col-md-4">{% translate 'Add' %}</button>
    </form>
    <br>
    <button class="btn btn-primary form-control col-sm-5 col-md-4" @click="loadCommitData" v-show="repos.length > 0">
      {% translate 'Load/Update commits' %}
    </button>
    <br><br>
    <div class="col-sm-5 col-md-4">
      <draggable
        v-model="repos"
        @sort="saveReposOrder"
        item-key="id"
      >
        <template #item="{element, index}">
          <div v-cloak>
            <div class="draggable">[[ element.name ]]
              <a href="javascript:void(0)" @click="deleteRepo(element.id, index)" class="icon">
                <font-awesome-icon icon="fa-solid fa-trash" />
              </a>
              <a href="javascript:void(0)" @click="loadCommitDataForRepo(element.id)" class="icon">
                <font-awesome-icon icon="fa-solid fa-rotate" />
              </a>
            </div>
          </div>
        </template>
      </draggable>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.repo = '{% url 'repo' %}';
    urls.loadCommitData = '{% url 'load_commit_data' %}';
    urls.saveReposOrder = '{% url 'save_repos_order' %}';

    vars.repos = JSON.parse('{{ repos|escapejs|safe }}');
  </script>
  <script src="{% static 'js/myRepos.js' %}"></script>
{% endblock %}
