{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{% static 'css/vendor.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block head %}{% endblock %}
  <meta charset="utf-8">
  <title>{% block title %}GitHubContrib{% endblock %}</title>
</head>
<body>
<div id="app">
  <flash-message class="flashpool"></flash-message>
  {% include 'includes/menu.html' %}
  <div class="container-fluid mt-3">
    {% block content %}{% endblock %}
  </div>
</div>
<footer class="container-fluid py-3">
  Copyright © {% now 'Y' %} <a href="mailto:{{ ADMIN_EMAIL }}">{{ ADMIN_EMAIL }}</a>.
</footer>
{% include 'includes/google_analytics.html' %}
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/commons.js' %}"></script>
<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
{% block js %}{% endblock %}
<script src="{% static 'js/setAxiosSettings.js' %}"></script>
</body>
