.repo {
  font-weight: bold;
}

ul {
  padding: 0;
}

#loading-bar-spinner {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
