{% extends 'base.html' %}
{% load i18n static %}

{% block head %}
  <link href="{% static 'bower/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}" class="form-horizontal mx-auto col-md-4" id="login-form">
  {% csrf_token %}
  {% include 'includes/form_errors.html' %}
  <div class="form-group">
    <input type="text" class="form-control" name="username" required {% if form.username.value %} value="{{ form.username.value}}" {% endif %} autofocus placeholder="{% trans 'Username' %}">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" required {% if form.password.value %} value="{{ form.password.value}}" {% endif %} placeholder="{% trans 'Password' %}">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Log in' %}">
  </div>
  <input type="hidden" name="next" value="{{ next }}">
  <a href="{% url 'social:begin' 'github' %}" class="btn btn-block btn-social btn-github">
    <span class="fa fa-github"></span> {% trans 'Log in with' %} GitHub
  </a>
  <br>
</form>
{% endblock %}
